:root {
    --primary-color: #3E7CB1;
    --secondary-color: #81A4CD;
    --background-color: #DBE4EE;
    --text-color: #F17300;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(#DBE4EE);
    color: var(#F17300);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(#3E7CB1);
    padding: 1rem;
}

header img {
    width: 100px;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 1rem;
    font-size: 20px;
}

main {
    position: relative; /* Allows element overlap */
    text-align: center; /* Centers content inside main */
}

.main-image {
    width: 100%; /* Ensures the large image occupies 100% of the width */
    height: auto;
}

h1 {
    position: absolute;
    top: 5%; /* Adjusts the title position */
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 95, 115, 0.7);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 10px;
    font-size: 2.5rem; /* Font size */
    width: 40%;
}

article {
    position: absolute; /* Allows the article to be positioned relative to its parent */
    display: flex; /* Enables flexbox for content alignment */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    padding: 0.5rem; /* Internal spacing around the content */
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    margin-top: -150px; /* Adjusts the article's vertical position */
    left: 50%; /* Centers horizontally */
    transform: translateX(-50%); /* Adjusts horizontal positioning */

    max-width: 50%; /* Limits the maximum width of the article */
    width: 30%; /* Defines the width of the article */
    margin-right: 1rem; /* Space to the right of the article */
    border-radius: 10px; /* Rounded corners */
    flex-direction: row-reverse;
}

article img {
    width: 90%; /* Adjusts the image size */
    max-width: 150px; /* Limits the maximum width */
    height: auto; /* Maintains aspect ratio */
}

article p {
    font-size: 1rem; /* Reduces text size */
    max-width: 50%; /* Limits paragraph width */
    text-align: center; /* Ensures text is centered */
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(#81A4CD);
}

footer img {
    width: 30px;
    margin: 0 10px;
}

footer p {
    margin: 0;
    color: white;
}
