
nav a {
    color: rgb(70, 130, 180);
    display: block;
    padding: 20px;
    display: inline-block;
}
h1 {
    color: steelblue;
}
img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 20px;
    text-align: left;
}
.element {
    max-width: 150px;
  }
  .element {
    float: left; /* Float left */
  }
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: left;
    font-size: 14px;
    color: #333;
}

  